<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../../favicon.ico"/>

    <title>Split purchase</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet"/>


    <!-- Custom styles for this template -->
    <link href="../css/jumbotron-narrow.css" rel="stylesheet"/>
    <link href="../css/grid.css" rel="stylesheet"/>
    <script src="../js/onsubmit_event.js"></script>

</head>

<body>

<div class="container">


    <div class="jumbotron">
        <h2>Split your purchase of £<span th:text="${amount}"/></h2>

        <p class="lead">Choose who owes you money!</p>

        <form action="#" th:action="@{/split}" th:object="${splitRequest}" method="post" onsubmit="return ValidationEvent()">
            <input type="hidden" th:value="${transactionId}" name="transactionId" />
            <input type="hidden" th:value="${accountId}" name="accountId" />
            <div class="row">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Friends:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="friend : ${myFriends}">
                        <td th:text="${friend.name}"></td>
                        <td><input type="checkbox" th:field="*{friends}" th:value="${friend.id}"/></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <p><input type="submit" value="Split" class="btn btn-lg btn-primary" role="button"/></p>
        </form>

        <p id="errorMessage" class="hidden">Don't be shy, select at least 1 friend</p>
    </div>


    <footer class="footer">
        <p>&copy; Splitify, Inc.</p>
    </footer>

</div>
<!-- /container -->

</body>
</html>
